{% extends "html" %}

{% block content %}

<div class="d-flex flex-row gap-5">
    <div>
        <h2 class="mb-5">{{ script.name }}</h2>
        <video id="player" width="320" height="240" controls>
            <source src={{ url_for('api_script_video', script_id=script.name) }} type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <hr>
        <h3>Metadata</h3>
        Time:
        <span id="time">-</span>
        <p>
            {{ script.__dict__ }}    
        </p>
    </div>
    <div>
        <h3>Transcript</h3>
        <div id="transcript">
        </div>        
    </div>
</div>

<script>
    async function get_transcript() {
        const script_url = "{{ url_for('api_script_transcript', script_id=script.name) }}";
        const response = await fetch(script_url);
        const transcript = await response.json();
        return transcript;
    }

    function load(transcript) {
        let html = `
            <table __contenteditable class="table table-stripped table-hover">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Text</th>
                    </tr>
                </thead>
            `;
        for (const segment of transcript.segments) {
            html += `
                <tr data-id="${segment.id}">
                    <td>${segment.id}</td>
                    <td>${segment.start}</td>
                    <td>${segment.end}</td>
                    <td>${segment.text}</td>
                </tr>`;
        }
        html += '</table>';
        document.getElementById('transcript').innerHTML = html;

        const segments_by_id = {};
        const segments_by_start = {};
        for (const segment of transcript.segments) {
            segments_by_id[segment.id] = segment;
            segments_by_start[segment.start] = segment;
        }

        for (const span of document.querySelectorAll('#transcript [data-id]')) {
            span.style.cursor = 'pointer';
            span.addEventListener('click', e => {
                const segment = segments_by_id[span.getAttribute('data-id')];
                document.getElementById('player').currentTime = segment.start;
            });
        }

        // FIXME: Store these globally for use in the timeupdate event listener
        window.segments_by_start = segments_by_start;
    }
    get_transcript().then(transcript => load(transcript));

    // Sync segments highlighting with player time
    document.getElementById('player').addEventListener('timeupdate', function() {
        document.getElementById('time').innerText = this.currentTime;

        let active_segment = null;
        for (const start in window.segments_by_start) {
            const segment = window.segments_by_start[start];
            if (this.currentTime >= segment.start && this.currentTime < segment.end) {
                active_segment = segment;
                break;
            }
        }

        const rows = document.querySelectorAll('#transcript tr');
        rows.forEach(row => {
            if (active_segment && row.getAttribute('data-id') == active_segment.id) {
                if (!row.classList.contains('table-active')) {
                    // Scroll to segment if not already scrolled
                    row.scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'start' });
                }
                row.classList.add('table-active');
            } else {
                row.classList.remove('table-active');
            }
        });    
    });

    // Resize table to fit page height
    function adjustTableHeight() {
        console.log('adjust')
        const transcriptElement = document.getElementById('transcript');
        const topPosition = transcriptElement.getBoundingClientRect().top;
        const viewportHeight = window.innerHeight;
        transcriptElement.style.overflow = 'scroll';
        transcriptElement.style.height = (viewportHeight - topPosition - 50) + 'px';
    }
    document.addEventListener('DOMContentLoaded', adjustTableHeight);
    window.addEventListener('resize', adjustTableHeight);
</script>

{% endblock %}
