{% extends "html" %}

{% block content %}

<h3>
    <i class="text-secondary pe-auto me-2" data-feather="film"></i>
    Transcripts
</h3>
<ul class="list-unstyled">
    {% for script_name in scripts %}
    <li class="ms-4 mb-3">
        <a href="{{url_for('ui_script_edit', script_name=script_name)}}">{{script_name}}</a>
        <button class="delete-btn btn btn-sm" data-script-name="{{script_name}}">
            <i class="text-danger" width="16" data-feather="trash-2"></i>
        </button>
    </li>
    {% endfor %}
</ul>

<!-- Drag and drop area for upload -->
<h3 class="mt-5">
    <i class="text-secondary pe-auto me-2" data-feather="upload"></i>
    Upload new video for transcript
</h3>
<style>
    #drop-zone {
        border-radius: 10px;
        border: 2px dashed var(--bs-secondary);
        padding: 30px;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    #drop-zone:hover {
        border-color: var(--bs-link-color);
    }
    #drop-zone.dragover {
        border-color: var(--brand);
    }
</style>
<div>
    <div class="text-center text-muted mx-4" id="drop-zone">
        Drop video files here or click to upload
        <div class="progress mt-3">
            <div class="progress-bar" id="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
        </div>
    </div>
    <input type="file" id="file-input" accept="video/*" class="d-none">
</div>

<script>
// Handle drop zone
document.addEventListener('DOMContentLoaded', function () {
    const dropZone = document.getElementById('drop-zone');
    const fileInput = document.getElementById('file-input');
    const progressBar = document.getElementById('progress-bar');

    // Handle click: trigger file selector and upload file
    dropZone.addEventListener('click', () => fileInput.click());
    fileInput.addEventListener('change', () => {
        const files = fileInput.files;
        if (files.length && files[0].type.startsWith('video/')) {
            uploadFile(files[0]);
        } else {
            alert('Please upload a valid video file.');
        }
    });

    // Handle drop file: upload file
    dropZone.addEventListener('dragover', (e) => {
        e.preventDefault();
        dropZone.classList.add('dragover');
    });
    dropZone.addEventListener('dragleave', () => {
        dropZone.classList.remove('dragover')
    });
    dropZone.addEventListener('drop', (e) => {
        e.preventDefault();
        dropZone.classList.remove('dragover');
        const files = e.dataTransfer.files;
        if (files.length && files[0].type.startsWith('video/')) {
            uploadFile(files[0]);
        } else {
            alert('Please upload a valid video file.');
        }
    });

    // Prevent default drag and drop behavior on the entire document
    document.addEventListener('dragover', (e) => { e.preventDefault(); });
    document.addEventListener('drop', (e) => { e.preventDefault(); });

    // Handle file upload using xhr, with progress bar
    function uploadFile(file) {
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '{{ url_for("api_script_post") }}', true);

        xhr.upload.addEventListener('progress', (e) => {
            if (e.lengthComputable) {
                const percentComplete = Math.min(90, e.loaded / e.total * 100);  // FIXME: While celery is not implemented in flask
                progressBar.style.width = percentComplete + '%';
                progressBar.textContent = Math.round(percentComplete) + '%';
                progressBar.setAttribute('aria-valuenow', Math.round(percentComplete));
            }
        });

        xhr.onload = () => {
            alert(xhr.responseText);
            progressBar.style.width = '0%';
            progressBar.textContent = '0%';
            progressBar.setAttribute('aria-valuenow', '0');
            location.reload();
        };

        xhr.onerror = () => {
            alert('Could not upload file to server');
        };

        const formData = new FormData();
        formData.append('file', file);
        xhr.send(formData);
    }
});

// Handle delete button click
document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.delete-btn').forEach(button => {
        button.addEventListener('click', function () {
            const scriptName = this.getAttribute('data-script-name');
            if (confirm(`${scriptName}\n\nAre you sure to delete ?`)) {
                deleteTranscript(scriptName);
            }
        });
    });

    function deleteTranscript(scriptName) {
        const xhr = new XMLHttpRequest();
        xhr.open('DELETE', `{{ url_for("api_script_delete", script_id="") }}/${scriptName}`, true);
        xhr.onload = () => {
            alert(xhr.responseText);
            location.reload();
        };
        xhr.onerror = () => {
            alert('Could not delete transcript');
        };
        xhr.send();
    }
});
</script>

{% endblock %}
